html{

    background-color: bisque;

}

body{
    
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* margin: 0px 20px 30px 30px; top bottom  right left */
    background-color: aliceblue;

}




header{

    0;

}


nav{

    background-color: red;

}
/* 
div{ 
    color: blue;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
    text-align: center;
    height: 90vh;
    width: 90vw; 
    z-index: -1;
    
} */

.container-bgmarcape{
   
    display: flex;
    background: url(./img/marca_peru-removebg.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px;
    padding: 10px;
    z-index: -1;
    opacity: 0.1;
    height: 90vh;
    width: 90vw; 
    position: fixed;
     /*Sin el z-index, el hover no funcionaría xq el cover estaría por encima de todos los demás elementos */
     

}

    /*cover cubre todo el espacio necesario para la imagen, puede q esta se recorte */
    /*contain hace que el contenido se ajuste con el div, así que no hay recortes */
     /* viewport  height es relativa al viewport (el trozo de la pantalla donde se renderiza la imagen del div)*/ 
     /* La unidad en porcentaje va en relación al elemento padre, el div en este caso*/
    






p{

    text-align: justify;

}



a {

    text-decoration: none; /* Quitar subrayado */
    color: inherit

}




a:hover{

    color: rgb(143, 149, 33);

}




h1 {
    
    color: peru;
    text-align: center; 
    text-decoration: underline;  

}




h2 {
    
    color:peru;
    font-style: italic; 
    font-size: 20pt;

}




.inca{

    
    width: 700px; 
    height:300px;
     
}




.cont_img{

    display: flex;
    justify-content: center; 


}







